@using Microsoft.AspNetCore.Authentication

@model PlaneBuilder.Models.AccountViewModels.LoginViewModel
@inject IAuthenticationSchemeProvider SchemeProvider

@{
    ViewData["Title"] = "Log into your account";
}



@*<h2>@ViewData["Title"].</h2>*@
    <h1 class="display-3">
        <p style="color:White">Log Into Your Account</p>
    </h1>

<!DOCTYPE html>
<html>
<body background="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/stratocumulus-from-above-1.jpg">
    <img src="https://media3.giphy.com/media/5ngRvMhJnlzg6gSTJ9/200w.webp?cid=ecf05e476c1d429add71c5baa4d61e8ea90a8bbbbc71f49f&rid=200w.webp" />
</body>
</html>

<body class="align-content-center">
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="sr-only">Email address></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" placeholder="Email address" />
                            <span asp-validation-for="Email" class="text-danger">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="sr-only">Password></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                        </div>
                    </div>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </section>
        </div>
    </div>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

